.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #eee;
  /* height: 150px; */
  /* padding: 20px; */
  color: grey;
}

.App-title {
  font-size: 1.5em;
}

.App-private {
  margin: 8px;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
}

.App-login {
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, button {
  margin: 8px;
  /* width: 300px; */
}

.App-error {
  margin-top: 8px;
  color: darkred;
}

.item-list {
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



/* .root {
  flex-grow: 0;
} */
.menu-button {
  border: 1px solid red;
  margin-right: 2;
}
.title {
  flex-grow: 1;
}
.left-bar {
  width: 100px;
  /* border: 1px solid red; */
}

.side-button {
  width: 100px;
}

.debug-data {
  font-family: 'Courier New', Courier, monospace;
  size: 12px;
  border: 1px solid grey;
  text-align: left;
  padding: 2px;
}

.col {
  display: inline-block;
  border-right: 1px solid grey;
  margin-right: 5px;
}

.col-1 {
  width: 10%;
}
.col-3 {
  width: 30%;
}
.col-6 {
  width: 60%;
}

